body {
	font-family:Helvetica, sans-serif;
}

#navbar {
	list-style-type:none;
	margin:0;
	padding:10px;
	color:#ffffff;
	background-color:#29498F;
}

#navbar a {
	color: #ffffff;
	text-decoration: none;
}
li {
	display:inline;
}
