body {
	font-family:'Open Sans', Helvetica, sans-serif;
	color:#333333;
}

h1 {
	font-weight:700;
	margin-bottom:.25em;
	padding-left:10px;
}

#teamnumber {
	margin-top:0px;
	padding-left:10px;
}

#navbar ul {
	font-size:0;
}

#navbar {
	list-style-type:none;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	padding-right:0px;
	color:#ffffff;
	background-color:#29498F;
}

#navbar a {
	color: #ffffff;
	text-decoration: none;
	padding:10px;
}

#navbar a:hover {
	background-color:#19396F;
}

#navbar .highlight {
	background-color:#19295F;
}

#navbar li {
	font-size:16px;
	display:inline;
	padding:0px;
}

#content {
	width: 80%;
	margin:0 auto;
	padding-bottom: 10px;
}