body {
	font-family:Helvetica, sans-serif;
	color:#000021;
}

#navbar {
	width:100%;
	list-style-type:none;
	margin:0px;
	padding:10px;
	color:#ffffff;
	background-color:#29498F;
}

#navbar a {
	color: #ffffff;
	text-decoration: none;
	padding:10px;
}

#navbar a:hover {
	background-color:#19396F;
}

li {
	display:inline;
}
